td{
    padding: 30px;
    height: 50px;
    width:100px;
}
#product_list_title{
    padding-left: 40px;
}
.product_list_container{
    width:80%;
}
thead{
    font-weight: bold;
}
.green{
    color: green;
}
.red{
    color:red;
}
#edit_btn{
    width: 100px;
    height: 40px;
    font-size:15px;
    margin-top: 30px;
    background-color: black;
    color : white;
    border-radius: 20px;
}
#delete_btn{
    width: 100px;
    height: 40px;
    font-size:15px;
    margin-top: 30px;
    background-color: black;
    color : white;
    border-radius: 20px;
}